---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
import re
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    fo = open('university_towns.txt', "r")
    lines = fo.readlines()
    fo.close()
    lines
    new_lines = []
    for line in lines:
        if not re.match(r'^\s*$', line):
            new_lines.append(line)
    lines = new_lines.copy()
    lines
    for index, line in enumerate(lines):
        lines[index] = line.strip()
    lines
    df_result = pd.DataFrame(columns=('State', 'RegionName'))
    i = 0  # counter for each new line in the dataframe
    state_string = ""  # Empty initial state string
    region_string = ""  # Empty initial region string
    for line in lines:
        if '[edit]' in line:
            state_string = line.replace('[edit]', "")
        else:
            region_string = re.sub(r' \(.*', "", line)
            df_result.loc[i] = [state_string, region_string]
            i += 1
    return df_result
get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [4]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    df_gdp = pd.read_excel('gdplev.xls', skiprows=220, parse_cols='E,G', header=None)
    df_gdp.columns = ['quarter', 'GDP']
    for i in range(4, len(df_gdp)):
        if (df_gdp.loc[i-4, 'GDP'] > df_gdp.loc[i-3, 'GDP']) \
                and (df_gdp.loc[i-3, 'GDP'] > df_gdp.loc[i-2, 'GDP']) \
                and (df_gdp.loc[i-2, 'GDP'] < df_gdp.loc[i-1, 'GDP']) \
                and (df_gdp.loc[i-1, 'GDP'] < df_gdp.loc[i, 'GDP']):
            recession_base_idx = i-4
    
    result = df_gdp.loc[recession_base_idx, 'quarter']
    j = recession_base_idx
    while True:
        if (df_gdp.loc[j-1, 'GDP'] > df_gdp.loc[j, 'GDP']):
            j -= 1
        else:
            result = df_gdp.loc[j+1, 'quarter']
            break
    return result
get_recession_start()

'2008q3'

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    df_gdp = pd.read_excel('gdplev.xls', skiprows=220, parse_cols='E,G', header=None)
    df_gdp.columns = ['quarter', 'GDP']
    for i in range(4, len(df_gdp)):
        if (df_gdp.loc[i-4, 'GDP'] > df_gdp.loc[i-3, 'GDP']) \
                and (df_gdp.loc[i-3, 'GDP'] > df_gdp.loc[i-2, 'GDP']) \
                and (df_gdp.loc[i-2, 'GDP'] < df_gdp.loc[i-1, 'GDP']) \
                and (df_gdp.loc[i-1, 'GDP'] < df_gdp.loc[i, 'GDP']):
            recession_base_idx = i
    return df_gdp.loc[recession_base_idx,'quarter']
get_recession_end()

'2009q4'

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    df_gdp = pd.read_excel('gdplev.xls', skiprows=220, parse_cols='E,G', header=None)
    df_gdp.columns = ['quarter', 'GDP']
    for i in range(4, len(df_gdp)):
        if (df_gdp.loc[i-4, 'GDP'] > df_gdp.loc[i-3, 'GDP']) \
                and (df_gdp.loc[i-3, 'GDP'] > df_gdp.loc[i-2, 'GDP']) \
                and (df_gdp.loc[i-2, 'GDP'] < df_gdp.loc[i-1, 'GDP']) \
                and (df_gdp.loc[i-1, 'GDP'] < df_gdp.loc[i, 'GDP']):
            recession_base_idx = i-2
    return df_gdp.loc[recession_base_idx,'quarter']
get_recession_bottom()

'2009q2'

In [7]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].

    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.

    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''

    import pandas as pd
    import numpy as np
    df = pd.read_csv('City_Zhvi_AllHomes.csv', header=0)
    
    # Create columns to keep
    cols_to_keep = ['RegionID', 'RegionName', 'State']
    for i in range(2000, 2017):
        for j in range(1, 13):
            if j <= 9:
                if i == 2016 and j == 9:
                    pass
                else:
                    month_str = '0' + str(j)
            else:
                if i == 2016:
                    pass
                else:
                    month_str = str(j)
            cols_to_keep.append(str(i) + '-' + month_str)
    df = df[cols_to_keep]
    def convert_to_qtr(ym):
        year, month = ym.split('-')
        if month == '01' or month == '02' or month == '03':
            result = year + 'q1'
        elif month == '04' or month == '05' or month == '06':
            result = year + 'q2'
        elif month == '07' or month == '08' or month == '09':
            result = year + 'q3'
        else:
            result = year + 'q4'
        return result

    # Stack the columns of GDP values and add a quarter column
    df_compiled = df.copy().set_index(['State', 'RegionName', 'RegionID']).stack(dropna=False)
    df_compiled = df_compiled.reset_index().rename(columns={'level_3': 'year_month', 0: 'gdp'})
    df_compiled.drop_duplicates(inplace=True)
    df_compiled['quarter'] = df_compiled['year_month'].apply(convert_to_qtr)
    df_compiled = df_compiled.drop('year_month', axis=1)
    result = df_compiled.pivot_table(values='gdp', index=['State', 'RegionName', 'RegionID'], columns='quarter', aggfunc=np.mean)
    result = result.reset_index()
    result = result.drop('RegionID', axis=1)
    #del result.index.name
    result = result.set_index(['State', 'RegionName'])
    return result

convert_housing_data_to_quarters()
#convert_housing_data_to_quarters().loc["Texas"].loc["Austin"].loc["2010q3"]

quarter                        2000q1         2000q2         2000q3  \
State RegionName
AK    Anchor Point                NaN            NaN            NaN
      Anchorage         174633.333333  175266.666667  179566.666667
      Fairbanks         163200.000000  165033.333333  169300.000000
      Homer                       NaN            NaN            NaN
      Juneau            192466.666667  194300.000000  195166.666667
      Kenai                       NaN            NaN            NaN
      Ketchikan                   NaN            NaN            NaN
      Kodiak                      NaN            NaN            NaN
      Lakes             172733.333333  174133.333333  177266.666667
      North Pole        157466.666667  159100.000000  162133.333333
      Palmer            168766.666667  170566.666667  174233.333333
      Seward                      NaN            NaN            NaN
      Soldotna                    NaN            NaN            NaN
      Tanaina           160500.000000  163500.000000  166366.666667
AL    Adamsville         69033.333333   69166.666667   69800.000000
      Alabaster         122133.333333  123066.666667  123166.666667
      Albertville        73966.666667   72600.000000   72833.333333
      Arab               83766.666667   81566.666667   81333.333333
      Ardmore                     NaN            NaN            NaN
      Axis                        NaN            NaN            NaN
      Baileyton                   NaN            NaN            NaN
      Bay Minette        81700.000000   78533.333333   79133.333333
      Bayou La Batre     44066.666667   44500.000000   44266.666667
      Bessemer                    NaN            NaN            NaN
      Birmingham         54033.333333   54400.000000   54966.666667
      Boaz               70866.666667   70266.666667   70300.000000
      Brent              92933.333333   94333.333333   96166.666667
      Brighton                    NaN            NaN            NaN
      Brookwood          92566.666667   95100.000000   98866.666667
      Buhl               90800.000000   94600.000000   96500.000000
...                               ...            ...            ...
WI    Yorkville         139066.666667  134900.000000  135033.333333
WV    Belle              51066.666667   51300.000000   52200.000000
      Charleston         59533.333333   59366.666667   59366.666667
      Chesapeake                  NaN            NaN            NaN
      Clendenin          39966.666667   38200.000000   40500.000000
      Coal Fork                   NaN            NaN            NaN
      Cross Lanes        78133.333333   78066.666667   79233.333333
      Davisville                  NaN            NaN            NaN
      Dunbar                      NaN            NaN            NaN
      East Bank                   NaN            NaN            NaN
      Elkview                     NaN            NaN            NaN
      Eskdale                     NaN            NaN            NaN
      Marmet                      NaN            NaN            NaN
      Mineral Wells      75533.333333   77233.333333   81966.666667
      Nitro                       NaN            NaN            NaN
      Parkersburg        54900.000000   55833.333333   56633.333333
      Saint Albans       63833.333333   64700.000000   65200.000000
      Sissonville        57200.000000   58200.000000   61200.000000
      South Charleston            NaN            NaN            NaN
      Upper Falls        53033.333333   52333.333333   52100.000000
      Vienna             72266.666667   74533.333333   75333.333333
      Washington         83900.000000   86033.333333   88333.333333
      Waverly            62366.666667   62933.333333   65300.000000
      Williamstown       82933.333333   85200.000000   86466.666667
WY    Bar Nunn           93033.333333   89666.666667   88900.000000
      Burns             101533.333333  104566.666667  108366.666667
      Casper             89233.333333   89600.000000   89733.333333
      Cheyenne          116866.666667  120033.333333  121533.333333
      Evansville        128033.333333  128766.666667  130833.333333
      Pine Bluffs        93733.333333   95066.666667   94633.333333

quarter                        2000q4         2001q1         2001q2  \
State RegionName
AK    Anchor Point                NaN            NaN            NaN
      Anchorage         182833.333333  182766.666667  183933.333333
      Fairbanks         172800.000000  164433.333333  157800.000000
      Homer                       NaN            NaN            NaN
      Juneau            194166.666667  197166.666667  199533.333333
      Kenai                       NaN            NaN            NaN
      Ketchikan                   NaN            NaN            NaN
      Kodiak                      NaN            NaN            NaN
      Lakes             179133.333333  172400.000000  166000.000000
      North Pole        165500.000000  159433.333333  149766.666667
      Palmer            175533.333333  169466.666667  163233.333333
      Seward                      NaN            NaN            NaN
      Soldotna                    NaN            NaN            NaN
      Tanaina           168033.333333  158766.666667  149200.000000
AL    Adamsville         71966.666667   73466.666667   74000.000000
      Alabaster         123700.000000  123233.333333  125133.333333
      Albertville        74200.000000   75900.000000   76000.000000
      Arab               82966.666667   84200.000000   84533.333333
      Ardmore                     NaN            NaN            NaN
      Axis                        NaN            NaN            NaN
      Baileyton                   NaN            NaN            NaN
      Bay Minette        81300.000000   85700.000000   87266.666667
      Bayou La Batre     43666.666667   42500.000000   43333.333333
      Bessemer                    NaN            NaN            NaN
      Birmingham         56066.666667   56833.333333   57600.000000
      Boaz               71466.666667   72833.333333   71900.000000
      Brent              98333.333333   96533.333333   98500.000000
      Brighton                    NaN            NaN            NaN
      Brookwood          99966.666667  101666.666667  103666.666667
      Buhl               96566.666667   99266.666667  101966.666667
...                               ...            ...            ...
WI    Yorkville         140300.000000  148800.000000  155233.333333
WV    Belle              51166.666667   51266.666667   51966.666667
      Charleston         59633.333333   60400.000000   59866.666667
      Chesapeake                  NaN            NaN            NaN
      Clendenin          39000.000000   42700.000000   42233.333333
      Coal Fork                   NaN            NaN            NaN
      Cross Lanes        79466.666667   78800.000000   79366.666667
      Davisville                  NaN            NaN            NaN
      Dunbar                      NaN            NaN            NaN
      East Bank                   NaN            NaN            NaN
      Elkview                     NaN            NaN            NaN
      Eskdale                     NaN            NaN            NaN
      Marmet                      NaN            NaN            NaN
      Mineral Wells      85300.000000   86700.000000   87133.333333
      Nitro                       NaN            NaN            NaN
      Parkersburg        56833.333333   57400.000000   57566.666667
      Saint Albans       65900.000000   66366.666667   66466.666667
      Sissonville        60700.000000   59000.000000   57133.333333
      South Charleston            NaN            NaN            NaN
      Upper Falls        50900.000000   50366.666667   49766.666667
      Vienna             76533.333333   77400.000000   77366.666667
      Washington         90466.666667   93500.000000   94933.333333
      Waverly            66600.000000   67933.333333   69366.666667
      Williamstown       87000.000000   86633.333333   86166.666667
WY    Bar Nunn           93500.000000   98833.333333   99900.000000
      Burns             113000.000000  115833.333333  117200.000000
      Casper             93166.666667   95500.000000   97633.333333
      Cheyenne          123633.333333  125533.333333  126300.000000
      Evansville        132066.666667  130566.666667  131433.333333
      Pine Bluffs        98066.666667  103233.333333  104600.000000

quarter                        2001q3         2001q4         2002q1  \
State RegionName
AK    Anchor Point                NaN            NaN            NaN
      Anchorage         188566.666667  191866.666667  193966.666667
      Fairbanks         158200.000000  154666.666667  152766.666667
      Homer                       NaN            NaN            NaN
      Juneau            202433.333333  206300.000000  209066.666667
      Kenai                       NaN            NaN            NaN
      Ketchikan                   NaN            NaN            NaN
      Kodiak                      NaN            NaN            NaN
      Lakes             169500.000000  170766.666667  168766.666667
      North Pole        151266.666667  151000.000000  150033.333333
      Palmer            166933.333333  168933.333333  165300.000000
      Seward                      NaN            NaN            NaN
      Soldotna                    NaN            NaN            NaN
      Tanaina           150966.666667  151600.000000  153033.333333
AL    Adamsville         73333.333333   73100.000000   73333.333333
      Alabaster         127766.666667  127200.000000  127300.000000
      Albertville        72066.666667   73566.666667   76533.333333
      Arab               81666.666667   83900.000000   87266.666667
      Ardmore                     NaN            NaN            NaN
      Axis                        NaN            NaN            NaN
      Baileyton                   NaN            NaN            NaN
      Bay Minette        85900.000000   85000.000000   84066.666667
      Bayou La Batre     45433.333333   45400.000000   45400.000000
      Bessemer                    NaN            NaN            NaN
      Birmingham         58433.333333   58700.000000   59500.000000
      Boaz               68733.333333   69833.333333   72766.666667
      Brent              99366.666667  104100.000000  103800.000000
      Brighton                    NaN            NaN            NaN
      Brookwood         101833.333333   99900.000000   99633.333333
      Buhl              102000.000000  102733.333333  102533.333333
...                               ...            ...            ...
WI    Yorkville         161133.333333  162800.000000  164866.666667
WV    Belle              50166.666667   49333.333333   48666.666667
      Charleston         61000.000000   60766.666667   59000.000000
      Chesapeake         40550.000000   40433.333333   39633.333333
      Clendenin          41700.000000   43800.000000   43433.333333
      Coal Fork          43350.000000   43200.000000   43466.666667
      Cross Lanes        78100.000000   78766.666667   78733.333333
      Davisville                  NaN            NaN            NaN
      Dunbar                      NaN            NaN            NaN
      East Bank          39750.000000   41366.666667   43233.333333
      Elkview                     NaN            NaN            NaN
      Eskdale                     NaN            NaN            NaN
      Marmet             47800.000000   46800.000000   46533.333333
      Mineral Wells      83666.666667   81500.000000   82833.333333
      Nitro                       NaN            NaN            NaN
      Parkersburg        57933.333333   58866.666667   59500.000000
      Saint Albans       67266.666667   66100.000000   64600.000000
      Sissonville        53566.666667   53833.333333   53400.000000
      South Charleston            NaN            NaN            NaN
      Upper Falls        49700.000000   50500.000000   51433.333333
      Vienna             77966.666667   78900.000000   78233.333333
      Washington         93166.666667   90933.333333   91266.666667
      Waverly            68566.666667   68166.666667   67366.666667
      Williamstown       85300.000000   84400.000000   84133.333333
WY    Bar Nunn           99100.000000   98333.333333   98633.333333
      Burns             117800.000000  117633.333333  117333.333333
      Casper             99433.333333  100633.333333  101733.333333
      Cheyenne          126466.666667  128133.333333  128466.666667
      Evansville        132400.000000  133466.666667  133300.000000
      Pine Bluffs       106500.000000  104066.666667  102233.333333

quarter                        2002q2    ...            2014q2         2014q3  \
State RegionName                         ...
AK    Anchor Point                NaN    ...     157800.000000  158000.000000
      Anchorage         196700.000000    ...     278200.000000  280766.666667
      Fairbanks         154533.333333    ...     209233.333333  207100.000000
      Homer                       NaN    ...     233033.333333  232900.000000
      Juneau            209866.666667    ...     328266.666667  331833.333333
      Kenai                       NaN    ...     199466.666667  197966.666667
      Ketchikan                   NaN    ...     196866.666667  197100.000000
      Kodiak                      NaN    ...     256400.000000  256966.666667
      Lakes             169900.000000    ...     228200.000000  233966.666667
      North Pole        151866.666667    ...     199933.333333  199400.000000
      Palmer            164800.000000    ...     225566.666667  228766.666667
      Seward                      NaN    ...     194600.000000  190533.333333
      Soldotna                    NaN    ...     210366.666667  209300.000000
      Tanaina           156100.000000    ...     208900.000000  211000.000000
AL    Adamsville         73133.333333    ...      77066.666667   75966.666667
      Alabaster         128000.000000    ...     147133.333333  147633.333333
      Albertville        76366.666667    ...      84033.333333   84766.666667
      Arab               87700.000000    ...     113366.666667  111700.000000
      Ardmore                     NaN    ...     140533.333333  139566.666667
      Axis                        NaN    ...     111066.666667  111833.333333
      Baileyton                   NaN    ...      87666.666667   90033.333333
      Bay Minette        84566.666667    ...     113333.333333  110600.000000
      Bayou La Batre     45566.666667    ...      49800.000000   51000.000000
      Bessemer                    NaN    ...      54600.000000   55333.333333
      Birmingham         59866.666667    ...      61733.333333   60900.000000
      Boaz               72100.000000    ...      80933.333333   81866.666667
      Brent             102533.333333    ...      93866.666667   97100.000000
      Brighton                    NaN    ...      45366.666667   45133.333333
      Brookwood         100366.666667    ...     106633.333333  110233.333333
      Buhl              100100.000000    ...     119233.333333  132033.333333
...                               ...    ...               ...            ...
WI    Yorkville         172466.666667    ...     231500.000000  238133.333333
WV    Belle              49633.333333    ...      72900.000000   74066.666667
      Charleston         58333.333333    ...      95433.333333   99733.333333
      Chesapeake         38633.333333    ...      66400.000000   65633.333333
      Clendenin          43833.333333    ...      82233.333333   82900.000000
      Coal Fork          43666.666667    ...      65933.333333   68133.333333
      Cross Lanes        79100.000000    ...     123566.666667  124633.333333
      Davisville                  NaN    ...      65766.666667   66200.000000
      Dunbar                      NaN    ...      76566.666667   78866.666667
      East Bank          43333.333333    ...      69366.666667   70666.666667
      Elkview                     NaN    ...      97433.333333  101066.666667
      Eskdale                     NaN    ...      69366.666667   69866.666667
      Marmet             46000.000000    ...      68366.666667   68333.333333
      Mineral Wells      85033.333333    ...     116466.666667  119000.000000
      Nitro                       NaN    ...      87366.666667   88633.333333
      Parkersburg        59366.666667    ...      79333.333333   79500.000000
      Saint Albans       63866.666667    ...      91133.333333   93333.333333
      Sissonville        55633.333333    ...      97633.333333  103766.666667
      South Charleston            NaN    ...     102266.666667  103933.333333
      Upper Falls        53500.000000    ...      91733.333333   97833.333333
      Vienna             78933.333333    ...     101700.000000  103700.000000
      Washington         91000.000000    ...     126333.333333  130433.333333
      Waverly            67200.000000    ...      99933.333333  100400.000000
      Williamstown       84833.333333    ...     122533.333333  125033.333333
WY    Bar Nunn          100866.666667    ...     199233.333333  200933.333333
      Burns             117233.333333    ...     168866.666667  161933.333333
      Casper            101533.333333    ...     175766.666667  177300.000000
      Cheyenne          129633.333333    ...     177466.666667  176733.333333
      Evansville        131066.666667    ...     296733.333333  305666.666667
      Pine Bluffs       103566.666667    ...     148666.666667  154366.666667

quarter                        2014q4         2015q1         2015q2  \
State RegionName
AK    Anchor Point      155566.666667  154266.666667  154100.000000
      Anchorage         281700.000000  284166.666667  287166.666667
      Fairbanks         207000.000000  207766.666667  206466.666667
      Homer             231066.666667  233500.000000  238100.000000
      Juneau            333200.000000  335666.666667  337366.666667
      Kenai             194600.000000  198500.000000  202700.000000
      Ketchikan         197700.000000  198033.333333  196300.000000
      Kodiak            257933.333333  258566.666667  256133.333333
      Lakes             236966.666667  239833.333333  240033.333333
      North Pole        197366.666667  199066.666667  200300.000000
      Palmer            229366.666667  234466.666667  237800.000000
      Seward            186600.000000  186800.000000  185533.333333
      Soldotna          207966.666667  213500.000000  217233.333333
      Tanaina           212466.666667  215200.000000  215633.333333
AL    Adamsville         71900.000000   71666.666667   73033.333333
      Alabaster         148700.000000  148900.000000  149566.666667
      Albertville        86800.000000   88466.666667   89500.000000
      Arab              111600.000000  110166.666667  109433.333333
      Ardmore           140900.000000  143233.333333  143000.000000
      Axis              111800.000000  109533.333333  109666.666667
      Baileyton          94100.000000   94600.000000   95666.666667
      Bay Minette       109900.000000  111100.000000  114300.000000
      Bayou La Batre     51766.666667   50733.333333   50500.000000
      Bessemer           54733.333333   55200.000000   57200.000000
      Birmingham         59533.333333   59900.000000   61966.666667
      Boaz               82866.666667   83966.666667   85266.666667
      Brent             100100.000000  102433.333333  101800.000000
      Brighton           43766.666667   42500.000000   44233.333333
      Brookwood         114366.666667  117700.000000  118700.000000
      Buhl              138400.000000  141766.666667  141200.000000
...                               ...            ...            ...
WI    Yorkville         237766.666667  239133.333333  243066.666667
WV    Belle              73133.333333   71966.666667   73566.666667
      Charleston        102466.666667  102900.000000  103233.333333

In [8]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    univ_towns = get_list_of_university_towns()
    univ_towns['univ_town'] = True

    # merge the housing data with university town DataFrames
    df = pd.merge(convert_housing_data_to_quarters(), univ_towns, how='outer', left_index=True, right_on=['State', 'RegionName'])
    df['univ_town'] = df['univ_town'].replace({np.NaN: False})

    # Get the recession quarters
    recession_start = get_recession_start()
    recession_bottom = get_recession_bottom()

    # Parse the year and quarter of the recession quarters
    year_recession_start = int(recession_start[0:4])
    qtr_recession_start = int(recession_start[-1])
    year_recession_bottom = int(recession_bottom[0:4])
    qtr_recession_bottom = int(recession_bottom[-1])

    # get the columns to keep in the merged DataFrame
    cols_to_keep = ['State', 'RegionName', 'univ_town']
    qtrs_to_keep = []
    for i in range(year_recession_start, year_recession_bottom+1):
        for j in range(1, 5):
            if (i == year_recession_start and j < qtr_recession_start)\
                    or (i == year_recession_bottom and j > qtr_recession_bottom):
                pass
            else:
                qtrs_to_keep.append(str(i) + 'q' + str(j))
    df = df[cols_to_keep + qtrs_to_keep]

    # Compute the price_ratio
    df['price_ratio'] = df[recession_bottom] - df[recession_start]

    # t-test to determine if there is a difference between university and non-university towns
    univ_town_price_ratio = df[df['univ_town'] == True]['price_ratio']
    non_univ_town_price_ratio = df[df['univ_town'] == False]['price_ratio']
    st, p = ttest_ind(univ_town_price_ratio, non_univ_town_price_ratio, nan_policy='omit',)

    # get different and better values
    different = False
    if p < 0.01:
        different = True

    # determine which type of town is better
    better = ""
    if univ_town_price_ratio.mean() > non_univ_town_price_ratio.mean():
        better = "university town"
    else:
        better = "non-university town"

    return (different, p, better)

run_ttest()

(False, masked, 'non-university town')